GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_ID_APP=
GOOGLE_AUTH_CLIENT_SECRET=
REDIRECT_URL=http://127.0.0.1:3000/api/auth/google/redirect
JWT_SECRET=
GEMINI_API_KEY=
OPENAI_API_KEY=
OPEN_ROUTER_API_KEY=

POSTGRES_HOST=localhost
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=work_from_car
POSTGRES_PORT=5432
PROJECT_NAME=wfc
ALLOWED_ORIGINS=https://your-domain.com
